html, body {
    height:100%;
    margin:0;
    padding:0;
}

header{
    width: 100%;
    background: lightgray;
    position: fixed;
    top: 0;
    height: 110px !important;
    z-index:100;
}

#header {
    text-align: center;
}

.content {
    position:relative;
    min-height: 100%;
    width: 100%; /* Sizing - any length */
    padding:130px 0 155px 0; /* Header height and footer height */
    margin:0 auto 0 auto; /* Center content */
}

#scrollable {
    height:100%;
    background:white;
    /*min-width: 300px;*/
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -o-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
}

footer {
    width: 100%;
    background: lightgray;
    position: fixed;
    bottom: 0;
    height: 135px;
}

svg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    margin-top: 0px;
}

#lastCommand {
    font-size: large;
    text-align: center;
}

#group {
    text-align: center;
    margin:0;
    padding:0;
    border: 0;
}